# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windows
*.obj
*.sbr
*.tlog
*.log
*.idb
*.pdb
*.lastbuildstate
*.exe
*.dll
*.lib
*.unsuccessfulbuild
*.suo
*.sdf
*.opensdf
*.rar
*.map
*.bsc
*.xml
*.opt
lib/
include/
*.ilk
/bin/*
!/bin/behaviors/
!/bin/bosses/
!/bin/game_configs/
/bin/game_configs/old configs/
xtreme-server
*.lua

/vcpkg_installed
/x64
/src/hbx-check-login.cpp
*.cbp
*.depend
*.layout
/.vs
/enc_temp_folder

JSON/Schemas/
hbio-server/x64/
/build/
.claude/
tools/migrate/node_modules/
tools/migrate/dist/
tools/mcp-broker/node_modules/
tools/mcp-broker/dist/

/.claude
/deploy
/.bash_profile
/.bashrc
/.gitconfig
/.idea
/.mcp.json
/.gitmodules
/.ripgreprc
/.zprofile
/.zshrc
/config
/HEAD
/hooks
/objects
/refs
/.profile